

<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="product in data">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ product.name }} </span>
            <span class="md-subhead">{{ product.categories }} </span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <md-list class="md-dense" flex>
            <md-list-item class="md-3-line md-long-text">
                <div layout="row" layout-align="start center">
                  <md-icon ng-repeat="i in [1,2,3,4,5]" ng-style="{color: product.reviews.rating >= i ? 'orange' : 'grey'}">star_rate</md-icon>
                </div>
                  <div class="md-list-item-text">
                  <h3>{{ product.reviews.title }}</h3>
                  <p>
                      {{ product.reviews.text }}
                  </p>
                </div>
               </md-list-item>
            </md-list>
          <!-- <ul> 
            <li ng-repeat= "review in product.reviews" > {{ review }}</li>
          </ul> -->
        </md-card-content>
      </md-card>

      {{ data }}